<nav class="navbar navbar-expand-lg bg-yellow position-fixed w-100">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/Bumped-or-broken-recovery-logo.png" alt="BUMPED OR BROKEN logo" class="img-fluid">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-lg-4 text-center my-2">
          <a class="nav-link text-brown" href="#home">Home</a>
        </li>
        <li class="nav-item mx-lg-4 text-center my-2">
          <a class="nav-link text-brown" href="#services">Services</a>
        </li>
        <li class="nav-item mx-lg-4 text-center my-2">
          <a class="nav-link text-brown" href="#about">About</a>
        </li>
        <li class="nav-item mx-lg-4 text-center my-2">
          <a class="nav-link text-brown" href="#contact">Contact</a>
        </li>
        <li class="nav-item mx-lg-4 text-center my-2">
          <a class="nav-link btn bg-black rounded-5 text-yellow px-5" href="tel:+353852270388">Call Now</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
