$black-color: #000000;
$brown-color: #424242;
$yellow-color: #FEDC46;

html {
  scroll-padding-top: 90px;
}

body {
  font-family: 'Anton', sans-serif;

  .navbar-brand {
    img {
      max-width: 61px;
    }
  }

  .navbar-nav {
    li {
      .btn {
        &:hover {
          color: $yellow-color;
        }
      }
    }
  }
}

.pt-90 {
  padding-top: 90px;
}

.bg-yellow {
  background-color: $yellow-color;
}

.text-yellow {
  color: $yellow-color;
}
