$black-color: #000000;
$brown-color: #424242;
$yellow-color: #FEDC46;

html {
  scroll-padding-top: 90px;
}

body {
  font-family: 'Anton', sans-serif;

  .navbar-brand {
    img {
      max-width: 61px;
    }
  }

  .navbar-nav {
    li {
      .btn {
        &:hover {
          color: $yellow-color;
        }
      }
    }
  }
}

.pt-90 {
  padding-top: 90px;
}

.bg-yellow {
  background-color: $yellow-color;
}

.bg-brown {
  background-color: $brown-color;
}

.text-yellow {
  color: $yellow-color;
}

.text-brown {
  color: $brown-color;
}

.banner-section {
  @media (min-width: 992px){
    background-image: url(/assets/images/Banner-background-image.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: 992px){
    h1 {
      font-size: 50px;
      line-height: 70px;
    }
  }

  .btn {
    &:hover {
      background-color: $yellow-color !important;
      color: $black-color;
    }
  }
}
